<form       style= "position: relative;
              width: 326px;
              height: 280px;
              left: 59.569999999999965px;
              top: 0.0px;
              margin-top: 10px;
              margin-right: 10px;
              background-color: #ffffff;
              border-color: transparent;
              border-style: solid;
              opacity: 1;"
              data-cy= "form127">
      <app-text128 (click)= " return"
                                            [ngModel39]= "ngModel38"></app-text128>
      <app-text129 (click)= " return"
                                            [ngModel41]= "ngModel38"></app-text129>
      <app-text130 (click)= " return"
                                            [ngModel43]= "ngModel38"></app-text130>
      <app-text131 (click)= " return"
                                            [ngModel45]= "ngModel38"></app-text131>
</form>