<form       style= "position: relative;
              width: 100%;
              height: auto;
              background-color: #ffffff;
              border-color: transparent;
              border-style: solid;
              justify-content:center; 
              display: flex;
              flex-direction: column;
              opacity: 1;"
              data-cy= "form127">

                <app-text128 (click)= " return" [ngModel39]= "ngModel38"></app-text128>
                <app-text129 (click)= " return" [ngModel41]= "ngModel38"></app-text129>
                <app-text130 (click)= " return" [ngModel43]= "ngModel38"></app-text130>
                <app-text131 (click)= " return" [ngModel45]= "ngModel38"></app-text131>
        </form>