<form class="border"
      style= "position: relative;
              width: 400px;
              height: 130px;
              display: flex;
              align-items: center;
              justify-content: space-around;
              background-color: #ffffff;
              border-color: transparent;
              border-style: solid;
              opacity: 1;">
      <app-input74 [(ngModel)]= "ngModel15" name= "ngModel15"></app-input74>
      <app-button75  (click)= "handleClick($event);"
                        ></app-button75>
</form>