<form class="border"
      style= "position: relative;
              width: 250px;
              height: 130px;
              left: 267.0px;
              top: 28.930000000000007px;
              background-color: #ffffff;
              border-color: transparent;
              border-style: solid;
              opacity: 1;">
      <app-input74 [(ngModel)]= "ngModel15" name= "ngModel15"></app-input74>
      <app-button75  (click)= "handleClick($event);"
                        ></app-button75>
</form>