<form class="border"
      style= "position: relative;
              width: auto;
              height: 480px;
              display: flex;
              padding: 20px;
              flex-direction: column;
              background-color: #ffffff;
              border-color: transparent;
              border-style: solid;
              opacity: 1;">
      <app-input141 [(ngModel)]= "ngModel8" name= "ngModel8"></app-input141>
      <app-input143 [(ngModel)]= "ngModel10" name= "ngModel10"></app-input143>
      <app-input144 [(ngModel)]= "ngModel11" name= "ngModel11"></app-input144>
      <app-input142 [(ngModel)]= "ngModel9" name= "ngModel9"></app-input142>
      <app-input145 [(ngModel)]= "ngModel12" name= "ngModel12"></app-input145>
      <app-button146  (click)= "handleClick($event);"
                        ></app-button146>
</form>