<form class="border"
      style= "position: absolute;
              width: 250px;
              height: 250px;
              left: 315.9px;
              top: 189.3px;
              background-color: #ffffff;
              border-color: transparent;
              border-style: solid;
              opacity: 1;">
      <app-input60 [(ngModel)]= "ngModel4" name= "ngModel4"></app-input60>
      <app-input61 [(ngModel)]= "ngModel5" name= "ngModel5"></app-input61>
      <app-input62 [(ngModel)]= "ngModel6" name= "ngModel6"></app-input62>
      <app-input63 [(ngModel)]= "ngModel7" name= "ngModel7"></app-input63>
      <app-button64  (click)= "handleClick($event);"
                        ></app-button64>
</form>