.mat-header-cell.mat-column- {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color:#005AB5;
}

.mat-column- {
  max-width: 100px;
}

.mat-cell.mat-column- {
  cursor: pointer;
}
.mat-header-cell.mat-column- {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color:#005AB5;
}

.mat-column- {
  max-width: 100px;
}

.mat-cell.mat-column- {
  cursor: pointer;
}
.mat-header-cell.mat-column- {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color:#005AB5;
}

.mat-column- {
  max-width: 100px;
}

.mat-cell.mat-column- {
  cursor: pointer;
}
.mat-header-cell.mat-column- {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color:#005AB5;
}

.mat-column- {
  max-width: 100px;
}

.mat-cell.mat-column- {
  cursor: pointer;
}