// Here you can add other styles

mat-tab-body > div > * > * {
  position: relative !important;
}

mat-tab-body > div > * {
  position: relative !important;
}

td > * {
  position: relative !important;
}
