<form class="border"
      style= "position: relative;
      width: 320px;
      height: 60px;
      justify-content: start;
      display: flex;
      padding-left: 10px;
      flex-direction: row;
      align-items: center;
      background-color: #ffffff;
      border-color: transparent;
      border-style: solid;
      margin: 10px 0px 20px;
      opacity: 1;">
      <app-input105 [(ngModel)]= "ngModel16" name= "ngModel16"></app-input105>
      <app-button106  (click)= "handleClick($event);"
                        ></app-button106>
</form>